#blue, #sub {
  text-align: center;
}
.balloon-game {
  display: grid;
  grid-template-columns: auto auto auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
}

.balloon {
  background-color: red;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
#balloon-type4, #balloon-type5, #balloon-type6 {
  background-color: green;
}
#balloon-type7, #balloon-type8, #balloon-type9 {
  background-color: blue;
}
